@{
    ViewData["Title"] = "Database";
}

<div class="text-center">
    <div>
        <h4>Database model definition</h4>
        <br />
        <p class="text-justify">Design a database to store data for a webshop (webshop data storage) with product categories, products, customers, orders.</p>
        <img src="~/images/MRSanaProducts.png" class="databaseModel" />
        <br />
        <p class="text-justify font-weight-bold">1. Products can be related to multiple categories.</p>
        <img src="~/images/MRP1.png" class="databaseModel" />
        <p class="text-justify font-weight-bold">2. Customers can have multiple orders.</p>
        <img src="~/images/MRP2.png" class="databaseModel" />
        <p class="text-justify font-weight-bold">3. Orders can have multiple products.</p>
        <img src="~/images/MRP3.png" class="databaseModel" />
        <p>
            As a final result for part 1, we expect: A database schema including table relations and indexes.
            * It can be a screenshot of the database schema, or a photo of a simple drawing done manually.
        </p>
        <p><a asp-action="Download">File with the definition </a></p>        
    </div>
</div>
