@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>About me! <a href="https://miguelvegaruiz.com/" target="_blank">Miguel Vega Ruiz</a>.</p>
</div>
<div>
    <h3 class="redColor">
        Part 1
    </h3>
    <p>SQL database - Find the database model @Html.ActionLink("here!", "General", "Home")</p>
    <h3 class="redColor">
        Part 2
    </h3>
    <p>Development</p>
    <p>
        1. Create a product @Html.ActionLink("here!", "Create", "Products")
        <br />
        <i><b>Important!</b> Make your new product look even more awesome by adding some details about it.</i>
    </p>
    <p>
        2. List the products @Html.ActionLink("here!", "Index", "Products")
        <br />
        <i><b>Important!</b> Take a look at your products details, edit, update or delete them by clicking @Html.ActionLink("here!", "Index", "ProductDetails")</i>
    </p>
    <h3 class="redColor">Plus!</h3>
    <p>Get access to the extra functionalities in the top menu.</p>
</div>
