@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>About me! <a href="https://miguelvegaruiz.com/" target="_blank">Miguel Vega Ruiz</a>.</p>
</div>
<div>
    <h3 class="redColor">
        Part 1
    </h3>
    <p>SQL database - Show database model @Html.ActionLink("Click here!", "General", "Home")</p>
    <h3 class="redColor">
        Part 2
    </h3>
    <p>Development</p>
    <p>
        1. Creation of product @Html.ActionLink("Click here!", "Create", "Products")
        <br />
        <i><b>Important!</b> Please add detail information about your product after to be created.</i>
    </p>
    <p>
        2. Listing of products @Html.ActionLink("Click here!", "Index", "Products")
        <br />
        <i><b>Important!</b> If you need review more information about your producto please @Html.ActionLink("Click here!", "Index", "ProductDetails").</i>
    </p>
    <h3 class="redColor">Plus!</h3>
    <p>You will be able to access all CRUDs in the top menu.</p>
</div>
