@{
    ViewData["Title"] = "Memory Storage Functionalities";
}

<div class="text-center">
    <h2 class="display-4">Memory Storage Functionalities</h2>
</div>
<div>    
    <h5 class="redColor">
        Categories
    </h5>
    <p>Access the module @Html.ActionLink("here!", "Index", "MSCategories")</p>
    <h5 class="redColor">
        Products
    </h5>
    <p>Access the module @Html.ActionLink("here!", "Index", "MSProducts")</p>
    <h5 class="redColor">
        Products Details
    </h5>
    <p>Access the module @Html.ActionLink("here!", "Index", "MSProductDetails")</p>
    <h5 class="redColor">
        Products Categories
    </h5>
    <p>Access the module @Html.ActionLink("here!", "Index", "MSProductCategories")</p>   
</div>